@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital@0;1&display=swap");
.none {
  display: none !important;
}

body {
  margin: 0;
}

.header {
  background-color: #ffffff;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  top: 0;
  left: 0;
  box-shadow: 0vw 0.6770833333vw 0.5208333333vw rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .LogoImg {
  padding: 1% 0%;
  height: 1%;
  width: 7%;
}
.header .linename {
  margin-right: 10%;
  height: -moz-min-content;
  height: min-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header .linename .name {
  color: #1A1819;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 2.0833333333vw;
  margin: -0.0520833333vw 1.5625vw;
  white-space: nowrap;
  padding: 0.0520833333vw 1.5625vw;
  border: 0.1041666667vw solid #1A1819;
}
.header .linename .name .decor-1, .header .linename .name .decor-2 {
  position: relative;
}
.header .linename .name .decor-1::before, .header .linename .name .decor-2::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 1.2ch;
  height: 2.5em;
  background-color: #d4535c;
}
.header .linename .name .decor-2::before {
  top: 50%;
  transform: translateY(10%);
  z-index: -1;
  width: 1ch;
  height: 1em;
}

.top_bar {
  margin: 0vw 0vw;
  position: fixed;
  top: 0;
  height: 6.875vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0vw 0.6770833333vw 0.5208333333vw rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  z-index: 1;
  transition: 0.5s;
}
.top_bar .selectedimg {
  width: 25%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.top_bar .selectedimg::after {
  content: "";
  position: absolute;
  left: 0;
  width: 25%;
  height: 6.875vw;
  background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
}
.top_bar .selectedimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.top_bar .selectedroom, .top_bar .paramselectroom {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bolder;
}
.top_bar .selectedroom .auditselect, .top_bar .paramselectroom .auditselect {
  font-size: 1.3020833333vw;
}
.top_bar .selectedroom .steetselect, .top_bar .paramselectroom .steetselect {
  font-size: 0.78125vw;
  color: #d4535c;
}
.top_bar .selectedroom {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0vw;
}
.top_bar .paramselectroom {
  width: 25%;
  font-size: 1.0416666667vw;
  font-weight: 300;
  color: #d4535c;
  line-height: 200%;
}

.content {
  margin: 20vw 0vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hellomess {
  border: 0.1041666667vw solid #1A1819;
  width: 40.1041666667vw;
  margin: 1% calc((100% - 40.1041666667vw) / 2);
}
.hellomess .decor2, .hellomess .decor3 {
  border: 0.1041666667vw solid #1A1819;
}
.hellomess .decor2 {
  height: 5vw;
  width: 5%;
  margin-top: -calc(1.0416666667vw);
  margin-left: -calc(1.0416666667vw);
}
.hellomess .decor3 {
  height: 3vw;
  width: 15%;
  margin: 0% 0% -4% 95%;
}
.hellomess .messege {
  padding: 1.8229166667vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.0416666667vw;
  line-height: 1.5625vw;
  color: #1A1819;
  text-align: center;
  position: relative;
}
.hellomess .messege::before, .hellomess .messege::after {
  content: "";
  position: absolute;
  border: 0.1041666667vw solid;
}
.hellomess .messege::before {
  left: -0.78125vw;
  top: -15%;
  width: 1.3020833333vw;
  height: 4.6875vw;
}
.hellomess .messege::after {
  right: -2.6041666667vw;
  bottom: -10%;
  width: 4.1666666667vw;
  height: 2.8125vw;
}

.catalog {
  display: flex;
  margin: 20% 0vw 0vw 0vw;
  justify-content: center;
  flex-direction: column;
}
.catalog .addresses {
  display: flex;
  width: 100%;
}
.catalog .addresses > * {
  flex: 1;
}
.catalog .addresses .tab {
  padding: 2%;
  border: none;
  border-bottom: 0.1041666667vw solid #ffffff;
  transition: 0.5s;
  background-color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.0833333333vw;
  line-height: 100%;
  cursor: pointer;
}
.catalog .addresses .tab:hover {
  background-color: #d9d9d9;
}
.catalog .addresses .tab.selected {
  border-bottom: thick solid #d4535c;
  border-width: 0.5vw;
}
.catalog .rooms {
  width: 100%;
  display: flex;
}
.catalog .rooms .tabcontent {
  color: rgb(4, 4, 4);
  display: flex;
  padding: 0.5208333333vw 1.0416666667vw;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}
.catalog .rooms .tabcontent::-webkit-scrollbar {
  display: none;
}
.catalog .rooms .room {
  background-color: #ffffff;
  box-shadow: 0vw 0.3125vw 0.78125vw rgba(0, 0, 0, 0.5);
  margin: 2vw;
  cursor: pointer;
}
.catalog .rooms .room img {
  width: 31.25vw;
}
.catalog .rooms .room .name {
  margin: 1vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3020833333vw;
  line-height: 100%;
}
.catalog .rooms .room .description {
  padding: 2vw 1vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.0416666667vw;
  line-height: 100%;
}
.catalog .rooms .room:first-child {
  margin-left: 34%;
}
.catalog .rooms .room:last-child {
  margin-right: 34%;
}
.catalog .worktimeroom {
  display: flex;
  justify-content: flex-end;
  z-index: 0;
  margin: 7.8125vw 0vw 0vw 0vw;
}
.catalog .worktimeroom .calendar {
  display: flex;
  align-items: center;
}
.catalog .worktimeroom .calendar .legend .occupied {
  display: flex;
  align-items: center;
  margin: 1.0416666667vw 0;
}
.catalog .worktimeroom .calendar .legend .occupied .blockoccupied {
  width: 1.875vw;
  height: 1.875vw;
  background-color: #d4535c;
}
.catalog .worktimeroom .calendar .legend .occupied .legendoccupied {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.0416666667vw;
  margin: 0 1.3020833333vw;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar {
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  position: relative;
  background: #ffffff;
  min-height: 5vw;
  margin: 0.2604166667vw 2.6041666667vw 0.2604166667vw 0.5208333333vw;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar table {
  border: 0;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1vw 0;
  max-width: 100%;
  width: 100%;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head .prev {
  left: 0vw;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head .next {
  right: 0vw;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head .prev, .catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head .next {
  color: #1A1819;
  display: flex;
  position: absolute;
  top: 30%;
  transition: 0.3s all ease;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head .prev img, .catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head .next img {
  width: 1vw;
  height: inherit;
  padding: 0.5vw 1vw;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head .prev :hover, .catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head .next :hover {
  color: #1A1819;
  cursor: pointer;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head .calendarev-selects {
  display: flex;
  position: relative;
  padding: 1vw 2vw;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head .calendarev-selects select {
  display: table-cell;
  width: auto;
  position: relative;
  font-size: 1.09375vw;
  border: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bolder;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head .calendarev-selects select ::-ms-expand {
  display: none;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head .calendarev-selects select .calendarev-years {
  text-align: center;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-body {
  display: table;
  position: relative;
  border-collapse: collapse;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-body th {
  padding: 0.5208333333vw;
  font-size: 0.9375vw;
  text-transform: uppercase;
  font-weight: bolder;
  color: #1A1819;
  text-align: center;
  width: auto;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-body .calendarev-day {
  font-size: 0.9375vw;
  font-weight: 400;
  padding: 0.5208333333vw;
  text-align: center;
  background-color: none;
  position: relative;
  width: 1.0416666667vw;
  height: 1.25vw;
  border: none;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-body .calendarev-day:hover {
  cursor: pointer;
  font-weight: 900;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-body .calendarev-day-current {
  background-color: rgba(125, 125, 125, 0.4705882353);
  /*:hover {
      background-color: #ECECEC;
  }*/
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-body .calendarev-day-event {
  background-color: #d4535c;
  color: #ffffff;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-body .calendarev-day-event:hover > .event-popup {
  display: block;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-body .calendarev-day-event .event-popup {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: #d4535c;
  font-size: 0.9375vw;
  color: #ffffff;
  padding: 0.5208333333vw;
  z-index: 5;
  width: 7.8125vw;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-body .calendarev-day-event .event-popup :before {
  content: "";
  display: block;
  position: absolute;
  border: 0.2604166667vw solid transparent;
  border-top: 1.0416666667vw solid #1A1819;
  bottom: -calc(0.5208333333vw);
  left: 0.8854166667vw;
}
.catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-body .calendarev-day-selected {
  border: 0.2vw solid #1A1819;
  font-size: 0.9375vw;
}
.catalog .worktimeroom .calendarev-events-container {
  display: block;
  position: relative;
  width: 50%;
  margin: 0vw;
  border: none;
  border-left: 0.1041666667vw solid #1A1819;
}
.catalog .worktimeroom .calendarev-events-container .event-block {
  display: block;
  padding: 0.5208333333vw 3.90625vw;
  height: auto;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  color: #d4535c;
  width: -moz-max-content;
  width: max-content;
}
.catalog .worktimeroom .calendarev-events-container .event-block h3 {
  font-size: 1.3020833333vw;
  margin: 0.1vw;
  padding: 0;
}
.catalog .worktimeroom .calendarev-events-container .event-block article {
  font-size: 1.0416666667vw;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: center;
}
.buttons button {
  border: none;
  margin: 2vw 3vw;
  padding: 1vw;
  width: auto;
  background-color: #ffffff;
  z-index: 0;
  cursor: pointer;
}
.buttons button .linebut {
  border: 0.1041666667vw solid #1A1819;
  position: relative;
}
.buttons button .linebut .namebut {
  margin: 0.5208333333vw 1.8229166667vw;
  color: #1A1819;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bolder;
  font-size: 1.8229166667vw;
  z-index: 3;
}
.buttons button .linebut .namebut .decor-3, .buttons button .linebut .namebut .decor-4 {
  position: relative;
}
.buttons button .linebut .namebut .decor-3::before, .buttons button .linebut .namebut .decor-4::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 1ch;
  height: 2.5em;
  background-color: #d4535c;
}
.buttons button .linebut .namebut .decor-4::before {
  top: 10%;
  transform: translateY(10%);
  z-index: -1;
  width: 1.2ch;
  height: 1.5em;
}

#booking {
  display: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(26, 24, 25, 0.7764705882);
  justify-content: center;
  align-items: center;
}
#booking form {
  position: fixed;
  z-index: 10;
  background-color: #ffffff;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5625vw;
}
#booking form #close {
  width: 0.5208333333vw;
  height: 0.625vw;
  position: sticky;
  left: 100%;
  cursor: pointer;
}
#booking form .nameform {
  font-size: 1.5625vw;
}
#booking form .dataform {
  margin: 1vw;
}
#booking form .timeform {
  display: flex;
  padding: 0.2vw;
}
#booking form .timeform select {
  display: table-cell;
  width: auto;
  border: none;
  border-bottom: 0.2vw solid #1A1819;
  padding: 0vw 1vw;
  margin: 0vw 0.2604166667vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3020833333vw;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#booking form .timeform select ::-ms-expand {
  display: none;
}
#booking form .timeform select .calendarev-years {
  text-align: center;
}
#booking form .formstep, #booking form .formstepcheck {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#booking form .formstep input, #booking form .formstep select, #booking form .formstepcheck input, #booking form .formstepcheck select {
  width: 20vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3020833333vw;
  height: 2vw;
  margin: 1vw;
  border: none;
  border-bottom: 0.2vw solid #1A1819;
  box-shadow: inset;
}
#booking form .formstep .container, #booking form .formstepcheck .container {
  display: flex;
  position: relative;
  padding-left: 0.78125vw;
  margin: 0.625vw;
  cursor: pointer;
  font-size: 1.3020833333vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#booking form .formstep .container input, #booking form .formstepcheck .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#booking form .formstep .container input:checked ~ .checkmark, #booking form .formstepcheck .container input:checked ~ .checkmark {
  background-color: #ffffff;
}
#booking form .formstep .container input:checked ~ .checkmark:after, #booking form .formstepcheck .container input:checked ~ .checkmark:after {
  display: block;
}
#booking form .formstep .container .checkmark, #booking form .formstepcheck .container .checkmark {
  position: absolute;
  top: 0.2604166667vw;
  left: -0.78125vw;
  height: 1.5625vw;
  width: 1.3020833333vw;
  border: 0.1041666667vw solid #c6c6c6;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#booking form .formstep .container .checkmark:after, #booking form .formstepcheck .container .checkmark:after {
  content: "";
  display: none;
  width: 0.3645833333vw;
  height: 1.25vw;
  border: solid #d4535c;
  border-width: 0 0.2604166667vw 0.2604166667vw 0;
  transform: rotate(45deg);
}
#booking form .formstep .container:hover input ~ .checkmark, #booking form .formstepcheck .container:hover input ~ .checkmark {
  background-color: #c6c6c6;
}
#booking form .formstepcheck {
  justify-content: center;
}
#booking form button {
  border: none;
  margin: 2vw 3vw;
  padding: 0.5vw;
  width: 20vw;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 0;
}
#booking form button .linebut {
  border: 0.1041666667vw solid #1A1819;
  position: relative;
}
#booking form button .linebut .namebut {
  margin: 0.5vw;
  color: #1A1819;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5625vw;
  line-height: 100%;
  z-index: 3;
}
#booking form button .linebut .namebut .decor-5 {
  position: relative;
}
#booking form button .linebut .namebut .decor-5::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 1.2ch;
  height: 2.5em;
  background-color: #d4535c;
}

.footer {
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0vw -0.3125vw 0.78125vw rgba(0, 0, 0, 0.5);
}
.footer .container {
  border: 0.15625vw solid #1A1819;
  margin: 1.0416666667vw;
  height: -moz-min-content;
  height: min-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer .container .contactinfo {
  color: #1A1819;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 1.71875vw;
  margin: 1vw;
  text-align: center;
}
.footer .container .contactinfo .contact {
  text-align: left;
  color: #1A1819;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 1.0416666667vw;
  margin: 2vw;
}

@media (max-width: 1100px) {
  .header .LogoImg {
    padding: 0.7291666667vw 0%;
  }
  .header .linename .name {
    font-size: 2.6041666667vw;
    margin: 0.5208333333vw 1.5625vw;
  }
  .catalog .worktimeroom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .catalog .worktimeroom .calendar {
    width: 50%;
  }
  .catalog .worktimeroom .calendar .calendarev-container-calendar {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head {
    width: 80%;
  }
  .catalog .worktimeroom .calendar .calendarev-container-calendar .calendarev-calendar-head .calendarev-selects select {
    font-size: 2.34375vw;
  }
  .catalog .worktimeroom .calendarev-events-container {
    border: none;
    border-top: 0.1041666667vw solid #1A1819;
    width: 45%;
    margin-top: 1.0416666667vw;
    padding: 0.5208333333vw 0vw;
  }
  .catalog .worktimeroom .calendarev-events-container .event-block {
    padding: 0.5208333333vw 1.0416666667vw;
  }
  .buttons button .linebut .namebut {
    font-size: 2.6041666667vw;
  }
  form {
    font-size: 1.8229166667vw;
    width: 70%;
    height: 90%;
  }
  form #close {
    width: 0.5208333333vw;
    height: 0.5208333333vw;
    position: sticky;
    left: 100%;
    cursor: pointer;
  }
  form .nameform {
    font-size: 1.8229166667vw;
  }
  form .dataform {
    margin: 5vw;
  }
  form .timeform {
    display: flex;
    padding: 1vw;
  }
  form .timeform select {
    display: table-cell;
    width: auto;
    border: none;
    border-bottom: 0.1041666667vw solid #1A1819;
    padding: 0vw 1vw;
    margin: 0vw 0.2604166667vw;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5625vw;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  form .timeform select ::-ms-expand {
    display: none;
  }
  form .timeform select .calendarev-years {
    text-align: center;
  }
  form .formstep {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  form .formstep input, form .formstep select {
    width: 20vw;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5625vw;
    height: 2vw;
    margin: 1vw;
    border: none;
    border-bottom: 0.1041666667vw solid #1A1819;
    box-shadow: inset;
  }
  form button {
    border: none;
    margin: 2vw 3vw;
    padding: 0.5vw;
    width: 20vw;
    background-color: #ffffff;
    cursor: pointer;
    z-index: 0;
  }
  form button .linebut {
    border: 0.1041666667vw solid #1A1819;
    position: relative;
  }
  form button .linebut .namebut {
    margin: 0.5vw;
    color: #1A1819;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8229166667vw;
    line-height: 100%;
    z-index: 3;
  }
  form button .linebut .namebut .decor-5 {
    position: relative;
  }
  form button .linebut .namebut .decor-5::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    width: 1.2ch;
    height: 2.5em;
    background-color: #d4535c;
  }
}
@media (max-width: 800px) {
  .header {
    padding: auto;
    height: -moz-max-content;
    height: max-content;
    justify-content: center;
  }
  .header .LogoImg {
    display: none;
  }
  .header .linename {
    margin: 0;
  }
  .header .linename .name {
    margin: 0.78125vw 0;
  }
}/*# sourceMappingURL=mainstyle.css.map */