@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital@0;1&display=swap');

$white: #ffffff;
$black: #1A1819;
$red: #d4535c;
$font: 'IBM Plex Sans', sans-serif;
$display: 100vw / 1920;


.none {
    display: none !important;
}


body {
    margin: 0;
}
.header {
    background-color: $white;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: min-content;
    top: 0;
    left: 0;
    box-shadow: calc(0*$display) calc(13*$display) calc(10*$display) rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .adminbut {
        background-color: $white;
        border: none;
        height: 100%;
        width: max-content;
        margin: calc(10 * $display);
        cursor: pointer;
        .LogoImg {
            padding: 1% 0%;
            height: calc(100 * 1.2 * $display);
        }
    }
    .linename {
        margin-right: 10%;
        height: min-content;
        width: fit-content;
        .name {
            color: $black;
            font-family: $font;
            font-weight: 700;
            font-size: calc(40 * $display);
            margin: calc(-1*$display) calc(30*$display);
            white-space: nowrap;
            padding: calc(1*$display) calc(30*$display);
            border: calc(2*$display) solid $black;
            .decor-1, .decor-2 {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: -1;
                    width: 1.2ch;
                    height: 2.5em;
                    background-color: $red;
                }
            }
            .decor-2 {
                &::before {
                    top: 50%;
                    transform: translateY(10%);
                    z-index: -1;
                    width: 1ch;
                    height: 1em;   
                }
            }
        }
    }
}
.top_bar {
    margin: calc(0*$display) calc(0*$display);
    position: fixed;
    top: 0;
    height: calc(110 * 1.2 *$display);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: calc(0*$display) calc(13*$display) calc(10*$display) rgba(0, 0, 0, 0.5);
    background-color: $white;
    z-index: 1;
    transition: 0.5s;
    .selectedimg {
        width: 25%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        &::after {
            content: "";
            position: absolute;
            //top: 0;
            left: 0;
            width: 25%;
            height: calc(110 * 1.2 * $display);
            background: linear-gradient(to left, #ffffff,#ffffff00);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .selectedroom, .paramselectroom {
        font-family: $font;
        font-weight: bolder;
        .auditselect {
            font-size: calc(15 * $display + calc(10*$display));
        }
        .steetselect {
            font-size: calc(5 * $display + calc(10*$display));
            color: $red;
        }
    }
    .selectedroom {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: calc(0*$display);
    }
    .paramselectroom {
        width: 25%;
        font-size: calc(10 * $display + calc(10*$display));
        font-weight: 300;
        color: $red;
        line-height: 200%;
    }
    
}
.content {
    margin: 20vw 0vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hellomess {
    border: calc(2*$display) solid $black;
    width: calc(40vw + 2 * $display);
    margin: 1% calc((100% - (40vw + 2 * $display)) / 2);
    .decor2, .decor3 {
        border: calc(2*$display) solid $black;
    }
    .decor2 {
        height: 5vw;
        width: 5%;
        margin-top: -calc(20*$display);
        margin-left: -calc(20*$display);
    }
    .decor3 {
        height: 3vw;
        width: 15%;
        margin: 0% 0% -4% 95%;
    }
    .messege {
        padding: calc(35*$display);
        // margin-top: -4vw;
        // margin-bottom: -2vw;

        font-family: $font;
        font-style: normal;
        font-weight: 700;
        font-size: calc(10 * $display + calc(10*$display));
        line-height: calc(30*$display);
        color: $black;
        text-align: center;

        position: relative;

        &::before, &::after {
            content: '';
            position: absolute;
            border: calc(2*$display) solid;
        }
        &::before {
            left: calc(-15 * $display);
            top: -15%;
            width: calc(25 * $display);
            height: calc(75 * 1.2 * $display);
        }
        &::after {
            right: calc(-50 * $display);
            bottom: -10%;
            width: calc(80*$display);
            height: calc(45 * 1.2 * $display);
        }
    }
}
.catalog {
    display: flex;
    margin: 20% calc(0*$display) calc(0*$display) calc(0*$display);
    justify-content: center;
    flex-direction: column;
    .addresses {
        display: flex;
        width: 100%;
        > * {
            flex: 1;
        }
        .tab {
            padding: 2%;
            border: none;
            border-bottom: calc(2*$display) solid $white;
            transition: 0.5s;
            background-color: $white;
            font-family: $font;
            font-style: normal;
            font-weight: 700;
            font-size: calc(30 * $display + calc(10*$display));
            line-height: 100%;
            cursor: pointer;

            &:hover {
                background-color: #d9d9d9;
            }

            &.selected {
                border-bottom: thick solid $red;
                border-width: 0.5vw;
            
            }
        }
    }
    .rooms {
        width: 100%;
        //margin-left: 30vw;
        display: flex;
        .tabcontent {
            color: rgb(4, 4, 4);
            display: flex;
            padding: calc(10*$display) calc(20*$display);
            height: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            width: 100%;
            &::-webkit-scrollbar {
                display: none;
            }

        }



        .room {
            background-color: $white;
            box-shadow: calc(0*$display) calc(6*$display) calc(15*$display) rgba(0, 0, 0, 0.5);
            margin: 2vw;
            cursor: pointer;
            img {
                width: calc(600 * $display);
            }

            .name {
                margin: 1vw;
                font-family: $font;
                font-style: normal;
                font-weight: 700;
                font-size: calc(20 * $display + calc(5*$display));
                line-height: 100%;
                //width: 100%;
            }

            .description {
                padding: 2vw 1vw;
                font-family: $font;
                font-style: normal;
                font-weight: 300;
                font-size: calc(15 * $display + calc(5*$display));
                line-height: 100%;
                //width: 100%;
            }

            &:first-child {
                margin-left: 34%;
            }
    
            &:last-child {
                margin-right: 34%;
            }
        }
        
    }
    .worktimeroom{
        display: flex;
        justify-content: flex-end;
        z-index: 0;
        margin: calc(150*$display) calc(0*$display) calc(0*$display) calc(0*$display);
        .calendar {
            display: flex;
            align-items: center;
            .legend {
                .occupied {
                    display: flex;
                    align-items: center;
                    margin: calc(20 * $display) 0;
                    .blockoccupied {
                        width: calc(30 * 1.2 * $display);
                        height: calc(30 * 1.2 * $display);
                        background-color: $red;
                    }
                    .legendoccupied {
                        font-family: $font;
                        font-size: calc(20 * $display);
                        margin: 0 calc(25 * $display);
                    }
                }
            }
            .calendarev-container-calendar {
                display: block;
                font-family: $font;
                position: relative;
                background: $white;
                min-height: 5vw;
                margin: calc(5*$display) calc(50*$display) calc(5*$display) calc(10*$display);
                table {
                    //width: 100%;
                    border: 0;
                    border-collapse: collapse !important;
                    border-spacing: 0 !important;
                }
                .calendarev-calendar-head {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    padding: 1vw 0;
                    max-width: 100%;
                    width: 100%;
                    .prev {
                        left: calc(0*$display);
                    }
                    .next {
                        right: calc(0*$display);
                    }
                    .prev, .next {
                        color: $black;
                        display: flex;
                        position: absolute;
                        top: 30%;
                        transition: 0.3s all ease;
                        img {
                            width: 1vw;
                            height: inherit;
                            padding: 0.5vw 1vw;
                        }
                        :hover {
                            color: $black;
                            cursor: pointer;
                        }
                    }
                    .calendarev-selects {
                        display: flex;
                        position: relative;
                        padding: 1vw 2vw;
                        //margin: 0 calc(40*$display);
                        //max-width: 100%;
                        select {
                            display: table-cell;
                            width: auto;	
                            position: relative;
                            font-size: calc(15 * $display + calc(6*$display));
                            //padding: 1vw 2vw;
                            border: none;
                            font-family: $font;
                            font-weight: bolder;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            ::-ms-expand {
                                display: none;
                            }
                            .calendarev-years{
                                text-align: center;
                            }
                        }
                    }
                }
                .calendarev-calendar-body {
                    display: table;
                    position: relative;
                    //width: 100%;
                    border-collapse: collapse;
                    th {
                        padding: calc(10*$display);
                        font-size: calc(10 * $display + calc(8*$display));
                        text-transform: uppercase;
                        font-weight: bolder;
                        color: $black;
                        text-align: center;
                        width: auto;
                    }
                    .calendarev-day {
                        font-size: calc(10 * $display + calc(8*$display));
                        font-weight: 400;
                        padding: calc(10*$display);
                        text-align: center;
                        background-color: none;
                        position: relative;
                        width: calc(20*$display);
                        height: calc(20 * 1.2 * $display);
                        border: none;
                        &:hover {
                            cursor: pointer;
                            font-weight: 900;
                        }
                    }
                    .calendarev-day-current {
                        background-color: #7d7d7d78;
                        /*:hover {
                            background-color: #ECECEC;
                        }*/
                    }
                    .calendarev-day-event {
                        background-color: $red;
                        color: $white;
                        &:hover > .event-popup {
                            display: block;
                        }
                        .event-popup {
                            display: none;
                            position: absolute;
                            bottom: 100%;
                            left: 0;
                            background-color: $red;
                            font-size: calc(10 * $display + calc(8*$display));
                            color: $white;
                            padding: calc(10*$display);
                            z-index: 5;
                            width: calc(150*$display);
                            :before {
                                content: '';
                                display: block;
                                position: absolute;
                                border: calc(5*$display) solid transparent;	
                                border-top: calc(20*$display) solid $black;
                                bottom: -calc(10*$display);
                                left: calc(17*$display);
                            }
                        }
                    }
                    .calendarev-day-selected {
                        border: 0.2vw solid $black;
                        //font-weight: 700;
                        font-size: calc(10 * $display + calc(8*$display));
                    }
    
                }
                
    
            }

        }
        .calendarev-events-container {
            display: block;
            position: relative;
            width: 50%;
            margin: calc(0*$display);
            border: none;
            border-left: calc(2*$display) solid $black;
            .event-block {
                display: block;
                padding: calc(10*$display) calc(75*$display);
                height: auto;
                font-family: $font;
                font-weight: 700;
                color: $red;
                width: max-content;
                :nth-child(odd) {
                    //background-color: #952828;
                }
                h3 {
                    font-size: calc(20 * $display + calc(5*$display));
                    margin: 0.1vw;
                    padding: 0;
                }
                article {
                    font-size: calc(15 * $display + calc(5*$display));
                    font-weight: 500;
                }
            }
        }

    }
    
}

.buttons {
    display: flex;
    justify-content: center;
    button {
        border: none;
        margin: 2vw 3vw;
        padding: 1vw;
        width: auto;
        background-color: $white;
        z-index: 0;
        cursor: pointer;
        .linebut {
            border: calc(2*$display) solid $black;
            position: relative;
            .namebut {
                margin:  calc(10 * $display) calc(35*$display);
                color: $black;
                font-family: $font;
                font-weight: bolder;
                font-size: calc(35 * $display);
                z-index: 3;
                .decor-3, .decor-4 {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: -1;
                        width: 1ch;
                        height: 2.5em;
                        background-color: $red;
                    }
                }
                .decor-4 {
                    &::before {
                        top: 10%;
                        transform: translateY(10%);
                        z-index: -1;
                        width: 1.2ch;
                        height: 1.5em;   
                    }
                }
            }
        }
    }
}

#booking {
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #1a1819c6;
    justify-content: center;
    align-items: center;
    form{
        position: fixed;
        z-index: 10;
        background-color: $white;
        padding: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $font;
        font-style: normal;
        font-weight: 700;
        font-size: calc(30 * $display);
        //width: max-content;
        #close {
            width: calc(10*$display);
            height: calc(10 * 1.2 * $display);
            position: sticky;
            left: 100%;
            cursor: pointer;
        }
        .nameform {
            font-size:  calc(30 * $display);
        }
        .dataform {
            margin: 1vw;
        }
        .timeform {
            display: flex;
            padding: 0.2vw;
            select {
                display: table-cell;
                width: auto;
                border: none;
                border-bottom: 0.2vw solid $black;
                padding: calc(0*$display) 1vw;
                margin: calc(0*$display) calc(5*$display);
                font-family: $font;
                font-style: normal;
                font-weight: 700;
                font-size: calc(25 * $display);
                -webkit-appearance: none;
                -moz-appearance: none;
                ::-ms-expand {
                    display: none;
                }
                .calendarev-years{
                    text-align: center;
                }
            }
        }
        .formstep, .formstepcheck {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            input, select {
                width: 20vw;
                font-family: $font;
                font-style: normal;
                font-weight: 700;
                font-size:  calc(25 * $display);
                height: 2vw;
                margin: 1vw;
                border: none;
                border-bottom: 0.2vw solid $black;
                box-shadow: inset ;
            }
            .container {
                display: flex;
                position: relative;
                padding-left: calc(15*$display);
                margin: calc(12*$display);
                cursor: pointer;
                font-size: calc(25 * $display);
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                    &:checked ~ .checkmark {
                        background-color: $white;
                        &:after {
                            display: block;
                        }
                    }
                }
                .checkmark {
                    position: absolute;
                    top: calc(5 * $display);
                    left: calc(-15 * $display);
                    height: calc(25  * 1.2 * $display);
                    width: calc(25 * $display);
                    border: calc(2*$display) solid #c6c6c6;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    &:after {
                        content: "";
                        display: none;
                        width: calc(7 * $display);
                        height: calc(20  * 1.2 * $display);
                        border: solid $red;
                        border-width: 0 calc(5 * $display) calc(5 * $display) 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
                &:hover input ~ .checkmark {
                    background-color: #c6c6c6;
                }
            }
              
        }
        .formstepcheck {
            justify-content: center;
        }
        button {
            border: none;
            margin: 2vw 3vw;
            padding: 0.5vw;
            width: 20vw;
            background-color: $white;
            cursor: pointer;
            z-index: 0;
            .linebut {
                border: calc(2*$display) solid $black;
                position: relative;
                .namebut {
                    margin: 0.5vw;
                    color: $black;
                    font-family: $font;
                    font-style: normal;
                    font-weight: 700;
                    font-size: calc(30 * $display);
                    line-height: 100%;
                    z-index: 3;
                    .decor-5 {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: -1;
                            width: 1.2ch;
                            height: 2.5em;
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }
    
}

.footer {
    background-color: $white;
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow:  calc(0*$display) calc(-6*$display) calc(15*$display) rgba(0, 0, 0, 0.5);
    .container {
        border: calc(3*$display) solid $black;
        margin: calc(20*$display);
        height: min-content;
        width: fit-content;
        .contactinfo {
            color: $black;
            font-family: $font;
            font-weight: 600;
            font-size: calc(25 * $display + calc(8*$display));
            margin: 1vw;
            text-align: center;
            .contact {
                text-align: left;
                color: $black;
                font-family: $font;
                font-weight: 300;
                font-size: calc(12 * $display + calc(8*$display));
                margin: 2vw;
            }
        }
    }
}
@media (max-width: 1100px) {
    .header {
        .LogoImg{
            padding: calc(4 * $display + calc(10*$display)) 0%;
        }
        .linename {
            .name {
                font-size: calc(40 * $display + calc(10*$display));
                margin: calc(10*$display) calc(30*$display);
            }
        }
    }
    .catalog {
        .worktimeroom {
            display: flex;
            flex-direction: column;
            align-items: center;
            .calendar {
                width: 50%;
                .calendarev-container-calendar {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .calendarev-calendar-head {
                        width: 80%;
                        .calendarev-selects select{
                            font-size: calc(45 * $display);
                        }
                    }
                }
            }
            .calendarev-events-container {
                border: none;
                border-top: calc(2*$display) solid $black;
                width: 45%;
                margin-top: calc(20*$display);
                padding: calc(10*$display) calc(0*$display);
                .event-block {
                    padding: calc(10*$display) calc(20*$display);
                }
            }
        }
    }
    .buttons {
        button {
            .linebut {
                .namebut {
                    font-size: calc(50 * $display);
                }
            }
        }
    }

    form{
        font-size: calc(35 * $display);
        width: 70%;
        height: 90%;
        #close {
            width: calc(10*$display);
            height: calc(10*$display);
            position: sticky;
            left: 100%;
            cursor: pointer;
        }
        .nameform {
            font-size:  calc(35 * $display);
        }
        .dataform {
            margin: 5vw;
        }
        .timeform {
            display: flex;
            padding: 1vw;
            select {
                display: table-cell;
                width: auto;
                border: none;
                border-bottom: calc(2*$display) solid $black;
                padding: calc(0*$display) 1vw;
                margin: calc(0*$display) calc(5*$display);
                font-family: $font;
                font-style: normal;
                font-weight: 700;
                font-size: calc(30 * $display);
                -webkit-appearance: none;
                -moz-appearance: none;
                ::-ms-expand {
                    display: none;
                }
                .calendarev-years{
                    text-align: center;
                }
            }
        }
        .formstep {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            input, select {
                width: 20vw;
                font-family: $font;
                font-style: normal;
                font-weight: 700;
                font-size:  calc(30 * $display);
                height: 2vw;
                margin: 1vw;
                border: none;
                border-bottom: calc(2*$display) solid $black;
                box-shadow: inset ;
            }
        }
        button {
            border: none;
            margin: 2vw 3vw;
            padding: 0.5vw;
            width: 20vw;
            background-color: $white;
            cursor: pointer;
            z-index: 0;
            .linebut {
                border: calc(2*$display) solid $black;
                position: relative;
                .namebut {
                    margin: 0.5vw;
                    color: $black;
                    font-family: $font;
                    font-style: normal;
                    font-weight: 700;
                    font-size: calc(35 * $display);
                    line-height: 100%;
                    z-index: 3;
                    .decor-5 {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: -1;
                            width: 1.2ch;
                            height: 2.5em;
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }


}
@media (max-width: 800px) {
    .header {
        padding: auto;
        height: max-content;
        .linename {
            margin: 0;
            .name {
                margin: calc(15*$display) 0;
            }
        }
    }
}