.none {
  display: none !important;
}

body {
  background-color: #1A1819;
  margin: 0;
}

.header {
  background-color: #1A1819;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 10px 10px rgba(255, 255, 255, 0.25));
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .LogoImg {
  padding: 1% 0%;
  height: 1%;
  width: 7%;
}
.header .linename {
  margin-right: 10%;
  height: -moz-min-content;
  height: min-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header .linename .name {
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: calc(2.0833333333vw + 10px);
  margin: -1px 30px;
  white-space: nowrap;
  padding: 1px 30px;
  border: 2px solid #ffffff;
}
.header .linename .name .decor-1, .header .linename .name .decor-2 {
  position: relative;
}
.header .linename .name .decor-1::before, .header .linename .name .decor-2::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 1.2ch;
  height: 2.5em;
  background-color: #d4535c;
}
.header .linename .name .decor-2::before {
  top: 50%;
  transform: translateY(10%);
  z-index: -1;
  width: 1ch;
  height: 1em;
}

.content {
  margin: 20vw 0vw;
  display: flex;
  flex-direction: column;
}
.content .filter {
  background-color: #302D2E;
  display: flex;
  padding: 20px;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bolder;
  font-size: calc(0.78125vw + 10px);
  height: -moz-max-content;
  height: max-content;
  flex-direction: column;
  align-items: center;
}
.content .filter .filterrow {
  display: flex;
  flex-direction: row;
}
.content .filter .filterrow .filtercol {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}
.content .filter .filterrow .filtercol input, .content .filter .filterrow .filtercol select {
  background-color: #d4535c;
  border: none;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bolder;
  font-size: 1.3020833333vw;
  -webkit-appearance: none;
  width: 10.9375vw;
  padding: 5px 15px;
  margin: 5px;
  text-align: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: flex;
  flex-direction: row;
}
.content .filter .filterrow .filtercol .tel, .content .filter .filterrow .filtercol .fio {
  width: 31.25vw;
}
.content .filter .filterrow .filtercol .periodfilt, .content .filter .filterrow .filtercol .typerooms {
  display: flex;
  flex-direction: column;
}
.content .filter .filterrow .filtercol .periodfilt .date, .content .filter .filterrow .filtercol .typerooms .date {
  display: flex;
  align-items: flex-end;
  margin-left: -20px;
}
.content .filter .filterrow .filtercol .periodfilt .date ::-webkit-calendar-picker-indicator, .content .filter .filterrow .filtercol .typerooms .date ::-webkit-calendar-picker-indicator {
  display: none;
}
.content .filter .filterrow .filtercol .status, .content .filter .filterrow .filtercol .statuspeople {
  display: flex;
  flex-direction: column;
}
.content .filter .filterrow .filtbutgroup {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}
.content .filter .filterrow .filtbutgroup button {
  border: none;
  background-color: #ffffff;
  color: #d4535c;
  width: calc(10.9375vw + 50px);
  padding: 5px 15px;
  margin: 0px 52px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: calc(0.78125vw + 10px);
  cursor: pointer;
  transition: 0.5s;
}
.content .filter .filterrow .filtbutgroup button:hover {
  background-color: #b4b4b4;
}
.content .groupbuttime {
  display: flex;
}
.content .groupbuttime button {
  background-color: #1A1819;
  border: none;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bolder;
  font-size: calc(1.3020833333vw + 10px);
  width: 25%;
  padding: 25px 0;
  transition: 0.5s;
}
.content .groupbuttime button:hover {
  background-color: #302D2E;
}
.content .groupbuttime button.selected {
  border-bottom: thick solid #ffffff;
}
.content .aplication {
  border-collapse: collapse;
}
.content .aplication tbody {
  background-color: #1A1819;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  text-align: center;
}
.content .aplication tbody .namerow th {
  background-color: #1A1819;
  font-weight: 400;
  padding: 15px 0px;
  border-bottom: 2px solid #ffffff;
}
.content .aplication tbody tr {
  background-color: #302D2E;
}
.content .aplication tbody tr button {
  background-color: #302D2E;
  border: none;
  width: 50px;
}
.content .aplication tbody tr button img {
  width: 50%;
}
.content .aplication tbody tr img {
  width: 20px;
}
.content .aplication tbody tr td {
  border: 0px;
  padding: 15px 0px;
  font-weight: bolder;
  width: 10px;
}
.content .aplication tbody tr td:last-child {
  width: 10px;
}
.content #rooms_table tbody tr td {
  padding: 5px 0px;
}
.content #rooms_table tbody tr td:nth-child(2) {
  text-transform: uppercase;
}
.content #rooms_table tbody tr td:nth-child(3) {
  text-transform: uppercase;
}
.content #rooms_table tbody tr img {
  width: 100%;
  height: 5.2083333333vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.content .menustreet {
  display: flex;
}
.content .menustreet .addressses {
  display: flex;
  width: 100%;
}
.content .menustreet .addressses > * {
  flex: 1;
}
.content .menustreet .addressses .tab {
  padding: 2%;
  border: none;
  border-bottom: 0.1041666667vw solid #1A1819;
  transition: 0.5s;
  background-color: #1A1819;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 2.0833333333vw;
  line-height: 100%;
  cursor: pointer;
  color: #ffffff;
}
.content .menustreet .addressses .tab:hover {
  background-color: #302D2E;
}
.content .menustreet .addressses .tab.selected {
  border-bottom: thick solid #ffffff;
  border-width: 0.5vw;
}
.content .butaddroom {
  width: -moz-max-content;
  width: max-content;
  background-color: #1A1819;
  border: none;
  margin: 2% 42%;
  cursor: pointer;
}
.content .butaddroom .linebut {
  position: relative;
  z-index: 2;
}
.content .butaddroom .linebut .namebut {
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 1.3020833333vw;
  margin: -1px 30px;
  white-space: nowrap;
  padding: 1px 30px;
  border: 2px solid #ffffff;
  z-index: 1;
  position: relative;
}
.content .butaddroom .linebut .namebut .decor-6 {
  position: relative;
}
.content .butaddroom .linebut .namebut .decor-6::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -2;
  width: 1.2ch;
  height: 2em;
  background-color: #d4535c;
}

#back_form {
  display: flex;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(26, 24, 25, 0.7764705882);
  justify-content: center;
  align-items: center;
}
#back_form #edit_form {
  position: fixed;
  z-index: 10;
  background-color: #1A1819;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5625vw;
}
#back_form #edit_form #close {
  width: 1.5625vw;
  height: 1.5625vw;
  position: sticky;
  left: 100%;
  cursor: pointer;
}
#back_form #edit_form .nameform {
  font-size: 1.5625vw;
  color: #ffffff;
}
#back_form #edit_form .formstep {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
}
#back_form #edit_form .formstep input {
  width: 20vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3020833333vw;
  height: 2vw;
  margin: 1vw;
  border: none;
  border-bottom: 0.2vw solid #ffffff;
  box-shadow: inset;
  background-color: #302D2E;
}
#back_form #edit_form .formstep input[type=file] {
  color: #ffffff;
  background: #302D2E;
}
#back_form #edit_form .formstep input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #d4535c;
  padding: 3px;
  color: #fff;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  transition: background 0.2s ease-in-out;
}
#back_form #edit_form .formstep input[type=file]::file-selector-button:hover {
  background: #782b30;
}
#back_form #edit_form .formstep .container {
  display: flex;
  position: relative;
  padding-left: 0.78125vw;
  margin: 0.625vw;
  cursor: pointer;
  font-size: 1.3020833333vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#back_form #edit_form .formstep .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#back_form #edit_form .formstep .container input:checked ~ .checkmark {
  background-color: #302D2E;
}
#back_form #edit_form .formstep .container input:checked ~ .checkmark:after {
  display: block;
}
#back_form #edit_form .formstepcheck {
  justify-content: center;
}
#back_form #edit_form button {
  border: none;
  margin: 2vw 3vw;
  padding: 0.5vw;
  width: 20vw;
  background-color: #1A1819;
  cursor: pointer;
  z-index: 0;
}
#back_form #edit_form button .linebut {
  border: 0.1041666667vw solid #ffffff;
  position: relative;
}
#back_form #edit_form button .linebut .namebut {
  margin: 0.5vw;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5625vw;
  line-height: 100%;
  z-index: 3;
}
#back_form #edit_form button .linebut .namebut .decor-5 {
  position: relative;
}
#back_form #edit_form button .linebut .namebut .decor-5::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 1.2ch;
  height: 2.5em;
  background-color: #d4535c;
}/*# sourceMappingURL=mainstyleadmin.css.map */