.logoline {
  background-color: #1A1819;
  height: 100%;
  padding: 2vw;
  position: fixed;
  margin: 0vw 2vw;
  top: 0;
  width: 9vw;
  z-index: 2;
}
.logoline .LogoImg {
  padding: 20% 0%;
  height: 30%;
  width: 100%;
}

.header {
  background-color: #C9404A;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}
.header .linename {
  border: 0.5vw solid #ffffff;
  margin: 2vw 10vw 2vw 30vw;
  height: -moz-min-content;
  height: min-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header .linename .decor {
  width: 2.5vw;
  height: 8vw;
  background-color: #1A1819;
  position: absolute;
  top: 1vw;
  left: 45vw;
  z-index: -1;
}
.header .linename .decor1 {
  width: 1.5vw;
  height: 3.5vw;
  background-color: #1A1819;
  position: absolute;
  top: 5.2vw;
  left: 72.5vw;
  z-index: -1;
}
.header .linename .name {
  color: #ffffff;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 100%;
  margin: 1vw;
  white-space: nowrap;
}

.mySidenav a {
  background-color: #ffffff;
  position: fixed;
  left: -2vw;
  transition: left 0.5s ease-in 0.1s;
  padding: 1vw 1vw;
  width: 13vw;
  font-size: 1.7vw;
  text-decoration: none;
  margin: 1vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #1A1819;
  font-family: "Century Gothic";
  font-weight: bolder;
  z-index: 2;
}
.mySidenav #navabout {
  top: 16vw;
}
.mySidenav #navcatalogstr {
  top: 21vw;
}
.mySidenav #navbook {
  top: 26vw;
}
.mySidenav :hover {
  left: 4vw;
}

.content {
  margin: 8vw 0vw;
  display: flex;
  flex-direction: column;
}

.hellomess {
  background-color: #1A1819;
  margin-left: 50vw;
}
.hellomess .messege {
  border: 0.5vw solid #ffffff;
  border-right: none;
  margin: 2vw 0vw 2vw 2vw;
  color: #ffffff;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  padding: 2vw;
}

.catalog {
  display: flex;
  margin: 10vw 0vw;
  justify-content: center;
  flex-direction: column;
}
.catalog .menustreet {
  margin-left: 15vw;
  display: flex;
}
.catalog .menustreet .tablink {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: solid;
  border-width: 0.1vw;
  border-color: #ffffff;
  padding: 3vw;
  transition: 0.5s;
  background-color: #ffffff;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 100%;
  cursor: pointer;
}
.catalog .menustreet .tablink:hover {
  background-color: #d9d9d9;
}
.catalog .menustreet #defaultOpen {
  border-bottom: thick solid #C9404A;
  border-width: 0.5vw;
}
.catalog .menustreet #linestreet {
  background-color: #C9404A;
  height: 0.5vw;
  position: absolute;
  margin: 9vw 0vw;
}
.catalog .contentstreet {
  display: flex;
}
.catalog .contentstreet .tabcontent {
  color: rgb(4, 4, 4);
  display: none;
  padding: 10px 20px;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.catalog .contentstreet .tabcontent::-webkit-scrollbar {
  display: none;
}
.catalog .contentstreet .lastroom {
  margin-right: 20vw;
}
.catalog .contentstreet .room, .catalog .contentstreet .lastroom {
  background-color: #ffffff;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
  margin: 2vw;
  cursor: pointer;
}
.catalog .contentstreet .room img, .catalog .contentstreet .lastroom img {
  width: 40vw;
}
.catalog .contentstreet .room .nameroom, .catalog .contentstreet .lastroom .nameroom {
  margin: 1vw;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw;
  line-height: 100%;
}
.catalog .contentstreet .room .parametroom, .catalog .contentstreet .lastroom .parametroom {
  padding: 2vw 1vw;
  font-family: "Century Gothic";
  font-style: normal;
  font-size: 1.5vw;
  line-height: 100%;
}
.catalog .worktimeroom {
  display: flex;
  margin-left: 20vw;
  justify-content: space-between;
  z-index: 0;
}
.catalog .worktimeroom .calendarev-container-calendar {
  display: block;
  font-family: "Century Gothic";
  position: relative;
  background: #ffffff;
  min-height: 5vw;
  height: 30vw;
}
.catalog .worktimeroom .calendarev-container-calendar table {
  border: 0;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-head {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1vw 0;
  max-width: 100%;
  width: 100%;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-head .prev {
  left: 0px;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-head .next {
  right: 0px;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-head .prev, .catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-head .next {
  color: #1A1819;
  display: flex;
  position: absolute;
  top: 30%;
  transition: 0.3s all ease;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-head .prev img, .catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-head .next img {
  width: 1.5vw;
  height: inherit;
  padding: 0.5vw 1vw;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-head .prev :hover, .catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-head .next :hover {
  color: #1A1819;
  cursor: pointer;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-head .calendarev-selects {
  display: flex;
  position: relative;
  padding: 1vw 2vw;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-head .calendarev-selects select {
  display: table-cell;
  width: auto;
  position: relative;
  font-size: 2vw;
  border: none;
  font-family: "Century Gothic";
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-head .calendarev-selects select ::-ms-expand {
  display: none;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-head .calendarev-selects select .calendarev-years {
  text-align: center;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-body {
  display: table;
  position: relative;
  border-collapse: collapse;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-body th {
  padding: 0.5vw;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #1A1819;
  text-align: center;
  width: auto;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-body .calendarev-day {
  font-size: 1.7vw;
  padding: 1vw;
  text-align: center;
  background-color: none;
  position: relative;
  width: auto;
  height: auto;
  border: none;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-body .calendarev-day:hover {
  cursor: pointer;
  font-weight: 700;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-body .calendarev-day-current {
  background-color: rgba(125, 125, 125, 0.4705882353);
  /*:hover {
      background-color: #ECECEC;
  }*/
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-body .calendarev-day-event {
  background-color: #C9404A;
  color: #ffffff;
  /*:hover {
      background-color: #FF3C3C;
      color: #fff;
  }*/
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-body .calendarev-day-event:hover > .event-popup {
  display: block;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-body .calendarev-day-event .event-popup {
  display: none;
  position: absolute;
  bottom: 4vw;
  left: 0;
  background-color: #C9404A;
  font-size: 1.5vw;
  color: #ffffff;
  padding: 2vw 2vw;
  z-index: 5;
  width: -moz-min-content;
  width: min-content;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-body .calendarev-day-event .event-popup :before {
  content: "";
  display: block;
  position: absolute;
  border: 5px solid transparent;
  border-top: 20px solid #1A1819;
  bottom: -10px;
  left: 17px;
}
.catalog .worktimeroom .calendarev-container-calendar .calendarev-calendar-body .calendarev-day-selected {
  border: 0.2vw solid #1A1819;
  font-size: 1.7vw;
}
.catalog .worktimeroom .calendarev-events-container {
  display: block;
  position: relative;
  height: 25vw;
  width: 45vw;
  margin-top: 15px;
  margin-left: 1vw;
  border: 0.5vw solid #1A1819;
  border-right: none;
}
.catalog .worktimeroom .calendarev-events-container .event-block {
  display: block;
  padding: 10px 15px;
  height: auto;
  font-family: "Century Gothic";
  font-weight: 700;
}
.catalog .worktimeroom .calendarev-events-container .event-block h3 {
  font-size: 2vw;
  margin: 0.1vw;
  padding: 0;
}
.catalog .worktimeroom .calendarev-events-container .event-block article {
  font-size: 1.5vw;
  font-weight: 500;
}

.buttons {
  margin-left: 15vw;
  display: flex;
  justify-content: center;
}
.buttons button {
  border: none;
  margin: 2vw 3vw;
  padding: 1vw;
  width: 30vw;
  background-color: #1A1819;
  cursor: pointer;
}
.buttons button .linebut {
  border: 0.5vw solid #ffffff;
  position: relative;
}
.buttons button .linebut .namebut {
  margin: 1.5vw;
  color: #ffffff;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  line-height: 100%;
}
.buttons button .decor {
  background-color: #C9404A;
  height: 5vw;
  width: 2vw;
  position: absolute;
  z-index: 0;
}

#booking {
  display: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(26, 24, 25, 0.7764705882);
  justify-content: center;
  align-items: center;
}
#booking form {
  position: fixed;
  z-index: 10;
  background-color: #ffffff;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw;
  width: -moz-max-content;
  width: max-content;
}
#booking form #close {
  width: 1vw;
  height: 1vw;
  position: sticky;
  left: 100%;
  cursor: pointer;
}
#booking form .nameform {
  font-size: 2vw;
}
#booking form .dataform {
  margin: 1vw;
}
#booking form .timeform {
  display: flex;
  padding: 0.2vw;
}
#booking form .timeform select {
  display: table-cell;
  width: auto;
  border: none;
  padding: 0vw 2vw 0vw 1vw;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#booking form .timeform select ::-ms-expand {
  display: none;
}
#booking form .timeform select .calendarev-years {
  text-align: center;
}
#booking form .formstep {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#booking form .formstep input, #booking form .formstep select {
  width: 20vw;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw;
  height: 2vw;
  margin: 1vw;
  border: none;
  border-bottom: 0.2vw solid #1A1819;
  box-shadow: inset;
}
#booking form button {
  border: none;
  margin: 2vw 3vw;
  padding: 0.5vw;
  width: 20vw;
  background-color: #C9404A;
  cursor: pointer;
}
#booking form button .linebut {
  border: 0.3vw solid #ffffff;
  position: relative;
}
#booking form button .linebut .namebut {
  margin: 0.5vw;
  color: #ffffff;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw;
  line-height: 100%;
}
#booking form button .decor {
  background-color: #1A1819;
  height: 2vw;
  width: 1vw;
  position: absolute;
  z-index: 0;
}

.footer {
  background-color: #C9404A;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.footer .container {
  border: 3px solid #ffffff;
  margin: 2vw 10vw 2vw 30vw;
  height: -moz-min-content;
  height: min-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer .container .contactinfo {
  color: #ffffff;
  font-family: "Century Gothic";
  font-size: 2vw;
  margin: 1vw;
}
.footer .container .contactinfo .contact {
  color: #ffffff;
  font-family: "Century Gothic";
  font-size: 1vw;
  margin: 2vw;
}/*# sourceMappingURL=mainstyle.css.map */