$white: #ffffff;
$black: #1A1819;
$red: #C9404A;
$font: "Century Gothic";

.logoline {
    background-color: $black;
    height: 100%;
    padding: 2vw;
    position: fixed;
    margin: 0vw 2vw;
    top: 0;
    width: 9vw;
    z-index: 2;
    .LogoImg {
        padding: 20% 0%;
        height: 30%;
        width: 100%;
        
    }
}
.header {
    background-color: $red;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    .linename {
        border: 0.5vw solid $white;
        margin: 2vw 10vw 2vw 30vw;
        height: min-content;
        width: fit-content;
        .decor {
            width: 2.5vw;
            height: 8vw;
            background-color: $black;
            position: absolute;
            top: 1vw;
            left: 45vw;
            z-index: -1;
        }
        .decor1 {
            width: 1.5vw;
            height: 3.5vw;
            background-color: $black;
            position: absolute;
            top: 5.2vw;
            left: 72.5vw;
            z-index: -1;
        }
        .name {
            color: $white;
            font-family: $font;
            font-style: normal;
            font-weight: 700;
            font-size: 3.5vw;
            line-height: 100%;
            margin: 1vw;
            white-space: nowrap;
            
        }
    }
}
.mySidenav {
    a {
        background-color: $white;
        position: fixed; 
        left: -2vw;
        transition: left 0.5s ease-in 0.1s; 
        padding: 1vw 1vw; 
        width: 13vw; 
        font-size: 1.7vw;
        text-decoration: none;
        margin: 1vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $black;
        font-family: $font;
        font-weight: bolder;
        z-index: 2;        
    }
    #navabout {
        top: 16vw;
    }
    #navcatalogstr {
        top: 21vw;
    }
    #navbook {
        top: 26vw;
    }
    :hover {
        left: 4vw;
    }
}
.content {
    margin: 8vw 0vw;
    display: flex;
    flex-direction: column;
}
.hellomess {
    background-color: $black;
    margin-left: 50vw;
    .messege {
        border: 0.5vw solid $white;
        border-right: none;
        margin: 2vw 0vw 2vw 2vw;
        color: $white;
        font-family: $font;
        font-style: normal;
        font-weight: 700;
        font-size: 2vw;
        padding: 2vw;
    }
}
.catalog {
    display: flex;
    margin: 10vw 0vw;
    justify-content: center;
    flex-direction: column;
    .menustreet {
        margin-left: 15vw;
        display: flex;
        .tablink {
            border-top-style: none;
            border-right-style: none;
            border-left-style: none;
            border-bottom-style: solid;
            border-width: 0.1vw;
            border-color: $white;
            padding: 3vw;
            transition: 0.5s;
            background-color: $white;
            font-family: $font;
            font-style: normal;
            font-weight: 700;
            font-size: 3.5vw;
            line-height: 100%;
            cursor: pointer;
            &:hover {
                background-color: #d9d9d9;
            }
        }
        #defaultOpen {
            border-bottom: thick solid $red;
            border-width: 0.5vw;
        }
        #linestreet {
            background-color: $red;
            height: 0.5vw;
            position: absolute;
            margin: 9vw 0vw;
        }
    }
    .contentstreet {
        //width: 100%;
        //margin-left: 30vw;
        display: flex;
        .tabcontent {
            color: rgb(4, 4, 4);
            display: none;
            padding: 10px 20px;
            height: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            &::-webkit-scrollbar {
                display: none;
            }

        }
        .lastroom{
            margin-right: 20vw;
        }

        .room, .lastroom {
            background-color: $white;
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
            margin: 2vw;
            cursor: pointer;
            img {
                width: 40vw;
            }
            .nameroom {
                margin: 1vw;
                font-family: $font;
                font-style: normal;
                font-weight: 700;
                font-size: 1.5vw;
                line-height: 100%;
                //width: 100%;
            }
            .parametroom {
                padding: 2vw 1vw;
                font-family: $font;
                font-style: normal;
                //font-weight: 700;
                font-size: 1.5vw;
                line-height: 100%;
                //width: 100%;
            }
        }
        
    }
    .worktimeroom{
        display: flex;
        margin-left: 20vw;
        justify-content: space-between;
        z-index: 0;
        .calendarev-container-calendar {
            display: block;
            font-family: $font;
            position: relative;
            background: $white;
            //min-width: 20vw;
            min-height: 5vw;
            //width: 30vw;
            height: 30vw;
            table {
                //width: 100%;
                border: 0;
                border-collapse: collapse !important;
                border-spacing: 0 !important;
            }
            .calendarev-calendar-head {
                display: flex;
                justify-content: center;
                position: relative;
                padding: 1vw 0;
                max-width: 100%;
                width: 100%;
                .prev {
                    left: 0px;
                }
                .next {
                    right: 0px;
                }
                .prev, .next {
                    color: $black;
                    display: flex;
                    position: absolute;
                    top: 30%;
                    transition: 0.3s all ease;
                    img {
                        width: 1.5vw;
                        height: inherit;
                        padding: 0.5vw 1vw;
                    }
                    :hover {
                        color: $black;
			            cursor: pointer;
                    }
                }
                .calendarev-selects {
                    display: flex;
                    position: relative;
                    padding: 1vw 2vw;
                    //margin: 0 40px;
                    //max-width: 100%;
                    select {
                        display: table-cell;
                        width: auto;	
                        position: relative;
                        font-size: 2vw;
                        //padding: 1vw 2vw;
                        border: none;
                        font-family: $font;
                        font-weight: 700;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        ::-ms-expand {
                            display: none;
                        }
                        .calendarev-years{
                            text-align: center;
                        }
                    }
                }
            }
            .calendarev-calendar-body {
                display: table;
                position: relative;
                //width: 100%;
                border-collapse: collapse;
                th {
                    padding: 0.5vw;
                    font-size: 2vw;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: $black;
                    text-align: center;
                    width: auto;
                }
                .calendarev-day {
                    font-size: 1.7vw;
                    padding: 1vw;
                    text-align: center;
                    background-color: none;
                    position: relative;
                    width: auto;
                    height: auto;
                    border: none;
                    &:hover {
                        cursor: pointer;
                        font-weight: 700;
                    }
                }
                .calendarev-day-current {
                    background-color: #7d7d7d78;
                    /*:hover {
                        background-color: #ECECEC;
                    }*/
                }
                .calendarev-day-event {
                    background-color: $red;
                    color: $white;
                    /*:hover {
                        background-color: #FF3C3C;
                        color: #fff;
                    }*/
                    &:hover > .event-popup {
                        display: block;
                    }
                    .event-popup {
                        display: none;
                        position: absolute;
                        bottom: 4vw;
                        left: 0;
                        background-color: $red;
                        font-size: 1.5vw;
                        color: $white;
                        padding: 2vw 2vw;
                        z-index: 5;
                        width: min-content;
                        :before {
                            content: '';
                            display: block;
                            position: absolute;
                            border: 5px solid transparent;	
                            border-top: 20px solid $black;
                            bottom: -10px;
                            left: 17px;
                        }
                    }
                }
                .calendarev-day-selected {
                    border: 0.2vw solid $black;
                    //font-weight: 700;
				    font-size: 1.7vw;
                }

            }
            

        }
        .calendarev-events-container {
                display: block;
                position: relative;
                //min-width: 250px;
                height: 25vw;
                width: 45vw;
                margin-top: 15px;
                margin-left: 1vw;
                border: 0.5vw solid $black;
                border-right: none;
                .event-block {
                    display: block;
                    //border: 1px solid black;
                    padding: 10px 15px;
                    height: auto;
                    font-family: $font;
                    font-weight: 700;
                    :nth-child(odd) {
                        //background-color: #952828;
                    }
                    h3 {
                        font-size: 2vw;
                        margin: 0.1vw;
                        padding: 0;
                    }
                    article {
                        font-size: 1.5vw;
                        font-weight: 500;
                    }
                }
            }
    }
    
}

.buttons {
    margin-left: 15vw;
    display: flex;
    justify-content: center;
    button {
        border: none;
        margin: 2vw 3vw;
        padding: 1vw;
        width: 30vw;
        background-color: $black;
        cursor: pointer;
        .linebut {
            border: 0.5vw solid $white;
            position: relative;
            .namebut {
                margin: 1.5vw;
                color: $white;
                font-family: $font;
                font-style: normal;
                font-weight: 700;
                font-size: 2vw;
                line-height: 100%;
            }
        }
        .decor {
            background-color: $red;
            height: 5vw;
            width: 2vw;
            position: absolute;
            z-index: 0;
            
        }
    }
}

#booking {
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #1a1819c6;
    justify-content: center;
    align-items: center;
    form{
        position: fixed;
        z-index: 10;
        background-color: $white;
        //left: 0vw;
        //top: 1vw;
        padding: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $font;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5vw;
        width: max-content;
        #close {
            width: 1vw;
            height: 1vw;
            position: sticky;
            left: 100%;
            cursor: pointer;
        }
        .nameform {
            font-size: 2vw;
        }
        .dataform {
            margin: 1vw;
        }
        .timeform {
            display: flex;
            padding: 0.2vw;
            select {
                display: table-cell;
                width: auto;
                border: none;
                padding: 0vw 2vw 0vw 1vw;
                font-family: $font;
                font-style: normal;
                font-weight: 700;
                font-size: 1.5vw;
                -webkit-appearance: none;
                -moz-appearance: none;
                ::-ms-expand {
                    display: none;
                }
                .calendarev-years{
                    text-align: center;
                }
            }
        }
        .formstep {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            input, select {
                width: 20vw;
                font-family: $font;
                font-style: normal;
                font-weight: 700;
                font-size: 1.5vw;
                height: 2vw;
                margin: 1vw;
                border: none;
                border-bottom: 0.2vw solid $black;
                box-shadow: inset ;
            }
        }
        button {
            border: none;
            margin: 2vw 3vw;
            padding: 0.5vw;
            width: 20vw;
            background-color: $red;
            cursor: pointer;
            .linebut {
                border: 0.3vw solid $white;
                position: relative;
                .namebut {
                    margin: 0.5vw;
                    color: $white;
                    font-family: $font;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1.5vw;
                    line-height: 100%;
                }
            }
            .decor {
                background-color: $black;
                height: 2vw;
                width: 1vw;
                position: absolute;
                z-index: 0;
                
            }
        }
    }
    
}

.footer {
    background-color: $red;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    .container {
        border: 3px solid $white;
        margin: 2vw 10vw 2vw 30vw;
        height: min-content;
        width: fit-content;
        .contactinfo {
            color: $white;
            font-family: $font;
            font-size: 2vw;
            margin: 1vw;
            .contact {
                color: $white;
                font-family: $font;
                font-size: 1vw;
                margin: 2vw;
            }
        }
    }
}