<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Творческий цех</title>
        <link rel="shortcut icon" href="../img/LogoWeb.png">
        <link rel="stylesheet" type="text/css" href="../css/mainstyleadmin.css">
        <script src="./../js/streetadmin.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body style="margin: 0;">
        <div class="header">
            <img class="LogoImg" src="./../img/MainLogo1.png">      
            <div class="linename">
                <p class="name">ТВО<span class="decor-1">Р</span>ЧЕСКИЙ Ц<span class="decor-2">Е</span>Х</p>
            </div>
        </div>
        <div class="content">
            <div class="filter">
                <div class="filterrow">
                    <div class="filtercol">
                        <div class="periodfilt">
                            Дата брони:
                            <div class="date">
                                <input type="date" name="booking_date">
                            </div>
                        </div>
                        <div class="typerooms">
                            Дата заявки:
                            <div class="date">
                                <input type="date" name="application_date">
                            </div>
                        </div>
                    </div>
                    <div class="filtercol">
                        <div class="telephone">
                            Телефон:
                            <input class="tel" type="text" name="phone" pattern="((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}">    
                        </div>
                        <div class="fio">
                            ФИО:
                            <input class="fio" type="text" name="fullname" pattern="^[А-яёЁ ,.'-]+$">
                        </div>
                    </div>
                    <div class="filtercol">
                        <div class="status">
                            Статус:
                            <select name="approved">
                                <option value="">Все</option>
                                <option value="1">Одобреные</option>
                                <option value="0">Неодобреные</option>
                                <option value="2">На расмотрение</option>
                            </select>
                        </div>
                        <div class="statuspeople">
                            Адрес:
                            <select name="address">
                                <option value="">Все</option>
                                <option value="">Преподаватель</option>
                                <option value="">Студент</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="filterrow">
                    <div class="filtbutgroup">
                        <button id="apply_filter" class="butsfilter">Применить</button>
                        <button id="nullify_filter" class="butsfilter">Отчистить</button>
                    </div>
                </div>
            </div>
            <div class="groupbuttime">
                <button class="buttime selected" value="today">СЕГОДНЯ</button>
                <button class="buttime" value="current_week">НЕДЕЛЯ</button>
                <button class="buttime" value="current_month">МЕСЯЦ</button>
                <button class="buttime" value="all_time">ВСЁ ВРЕМЯ</button>
            </div>
            <table class="aplication" id="applications_table">
                <tbody>
                </tbody>
            </table>
            
            <div class="menustreet">
                <div class="addressses"></div>
            </div>

            <table class="aplication" id="rooms_table">
                <tbody>
                    <tr class="namerow">
                        <th>№</th>
                        <th>НАЗВАНИЕ</th>
                        <th>АДРЕС</th>
                        <th>ИНФОРМАЦИЯ</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>
                            <button class="accept">
                                <img src="./../img/NoBut.png" alt="" class="activnobut">
                            </button>
                            <button class="rejection">
                                <img src="./../img/YesBut.png" alt="" class="activeyesbut">
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="butaddroom">
                <div class="linebut">
                    <div class="namebut">ДОБАВ<span class="decor-6">И</span>ТЬ</div>
                </div>
            </button>

        </div>
        <div id="back_form" class="none">
            <form id="application_form" method="post" action="./../queries/send_application.php">
                <img id="close" src="./../img/CloseBut.png">
                <div class="nameform">ДОБАВЛЕНИЕ КОМНАТЫ</div>
                <div class="groupformstep">
                    <div class="formstep">
                        Название комнаты:<input name="fullname"pattern="^[А-яёЁ ,.'-]+$" required>
                    </div>
                    <div class="formstep">
                        Адрес:<input name="phone" pattern="((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}" required>
                    </div>
                    <div class="formstep">
                        Описание:<input name="social_network" required>
                    </div>
                    <div class="formstep">
                        Изображение:<input class="input_img" type="file" accept="image/*" name="image" required>
                    </div>
                </div>
                <button class="orderform">
                    <div class="linebut">
                        <div class="namebut">ДО<span class="decor-5">Б</span>АВИТЬ</div>
                    </div>
                </button>
            </form>
        </div>
        <div id="back_form" class="none">
            <form id="edit_form" method="post" action="">
                <img id="close" src="./../img/CloseBut.png">
                <div class="nameform">РЕДАКТИРОВАНИЕ КОМНАТЫ</div>
                <div class="groupformstep">
                    <div class="formstep">
                        Название комнаты:<input name="fullname"pattern="^[А-яёЁ ,.'-]+$" required>
                    </div>
                    <div class="formstep">
                        Адрес:<input name="phone" pattern="((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}" required>
                    </div>
                    <div class="formstep">
                        Описание:<input name="social_network" required>
                    </div>
                    <div class="formstep">
                        Изображение:<input class="input_img" type="file" accept="image/*" name="image" required>
                    </div>
                </div>
                <button class="orderform">
                    <div class="linebut">
                        <div class="namebut">ИЗМЕ<span class="decor-5">Н</span>ИТЬ</div>
                    </div>
                </button>
            </form>
        </div>
    </body>
</html>
