

.mm {
    position:absolute;
    padding:.2em;
    border:2px solid #ffaa00;
    background-color:#fff;
    z-index: 0;
}
.mm table {
    border-collapse:separate;
    table-layout:fixed;
    text-align:center;
    font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 17px;
}
.mm col {
    width:2em;
}
.mm td {
    padding: 0.%;
    vertical-align:middle;
    height:1.5em; 
}
.mm td div {
    padding: 15% 0%;
    background-color: #8b8b8b39;
    cursor:default;
    border-radius: 5px;
}
.mm td div:hover, .mm td .hover {
    background-color:#22ff0072;
}
.mm div.red {
    color:rgb(255, 0, 0);
    background-color: #8b8b8b22;
}
.mm select {
    margin-right:3%;
    font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 15px;
    border: 0;
    padding: 2% 1%;
    background-color: #8b8b8b39;
    border-radius: 5px;
}
.mm .ri {
    text-align:right;
}
.mm p {
    margin:0;
}
.disnone {
    display: none;
}

ol {
    text-align:left;
    width:40em;
    font-size:.75em;
    margin:0 auto;
    font-family: 'Jura';
    font-weight: bold;
    font-size: 30px;
}

.metka {
    background-image:url(../img/iconmenu2.png); 
    background-repeat:no-repeat;
    background-position:right bottom;
}


