{% extends "base.html" %}

{% block title %}{{name}}{% endblock %}

{% block head %}
<link rel="shortcut icon" href="img/LogoWeb.png">
<link rel="stylesheet" type="text/css" href="css/mainstyleadmin.css">
<script src="js/admin.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{%endblock%}

{% block body %}
<div class="header">
    <img class="LogoImg" src="img/MainLogo1.png" onclick="document.location = '/'">      
    <div class="linename">
        <!-- <p class="name">ТВО<span class="decor-1">Р</span>ЧЕСКИЙ Ц<span class="decor-2">Е</span>Х</p> -->
        <p class="name">{{name}}</p>
    </div>
</div>
<div class="content">
    <div class="filter">
        <div class="filterrow">
            <div class="filtercol">
                <div class="periodfilt">
                    {{booking_date}}
                    <div class="date">
                        <input type="date" name="booking_date">
                    </div>
                </div>
                <div class="typerooms">
                    {{applicatin_date}}
                    <div class="date">
                        <input type="date" name="application_date">
                    </div>
                </div>
            </div>
            <div class="filtercol">
                <div class="telephone">
                    {{phone}}
                    <input class="tel" type="text" name="phone" pattern="((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,20}">    
                </div>
                <div class="fio">
                    {{fio}}
                    <input class="fio" type="text" name="fullname" pattern="^[А-яёЁ ,.'-]+$">
                </div>
            </div>
            <div class="filtercol">
                <div class="status">
                    {{status}}
                    <select name="approved">
                        <option value=""> {{status_all}}</option>
                        <option value="0">{{status_under_consideration}}</option>
                        <option value="1">{{status_approved}}</option>
                        <option value="2">{{status_disapproved}}</option>
                    </select>
                </div>
                <div class="statuspeople">
                    {{address}}
                    <select name="address">
                    </select>
                </div>
            </div>
        </div>
        <div class="filterrow">
            <div class="filtbutgroup">
                <button id="apply_filter" class="butsfilter">{{btn_accept}}</button>
                <button id="nullify_filter" class="butsfilter">{{btn_clear}}</button>
            </div>
        </div>
    </div>
    <div class="groupbuttime">
        <button class="buttime selected" value="today">{{today}}</button>
        <button class="buttime" value="current_week">{{week}}</button>
        <button class="buttime" value="current_month">{{month}}</button>
        <button class="buttime" value="all_time">{{all_time}}</button>
    </div>
    <table class="aplication" id="applications_table">
        <tbody>
        </tbody>
    </table>
    
    <div class="menustreet">
        <div class="addresses"></div>
    </div>

    <table class="aplication" id="rooms_table">
        <tbody>
        </tbody>
    </table>
    <button class="butaddroom" id="add_room_button">
        <div class="linebut">
            <!-- <div class="namebut">ДОБАВ<span class="decor-6">И</span>ТЬ</div> -->
            <div class="namebut">{{btn_add}}</div>
        </div>
    </button>

</div>

<div id="back_form" class="none">
    <form id="application_form" enctype="multipart/form-data" class="edit_form" onsubmit="event.preventDefault()">
        <img id="close" src="img/reject_image.png">
        <div class="nameform">{{add_room}}</div>
        <div class="groupformstep">
            <div class="formstep">
                {{room_name}}<input name="name" required>
            </div>
            <div class="formstep">
                {{address}}<input name="address" required>
            </div>
            <div class="formstep">
                {{description}}<input name="info">
            </div>
            <div class="formstep">
                {{image}}<input class="input_img" type="file" accept="image/*" name="image" required>
            </div>
        </div>
        <button class="orderform" id="add_room_form_button">
            <div class="linebut">
                <!-- <div class="namebut">ДО<span class="decor-5">Б</span>АВИТЬ</div> -->
                <div class="namebut">{{btn_add}}</div>
            </div>
        </button>
    </form>
</div>
<div id="edit_back_form" class="none">
    <form id="edit_form" enctype="multipart/form-data" class="edit_form" onsubmit="event.preventDefault()">
        <img id="edit_close" src="img/reject_image.png">
        <div class="nameform">{{edit_room}}</div>
        <div class="groupformstep">
            <input name="id" class="none">
            <div class="formstep">
                {{room_name}} <input name="name" required>
            </div>
            <div class="formstep">
                {{address}} <input name="address" required>
            </div>
            <div class="formstep">
                {{description}} <input name="info" required>
            </div>
            <div class="formstep">
                {{image}} <input class="input_img" type="file" accept="image/*" name="image">
            </div>
        </div>
        <button class="orderform" id="edit_room_form_button">
            <div class="linebut">
                <!-- <div class="namebut">ИЗМЕ<span class="decor-5">Н</span>ИТЬ</div> -->
                <div class="namebut">{{btn_edit}}</div>
            
            </div>
        </button>
    </form>
</div>
{% endblock %}