{% extends "base.html" %}

{% block title %}{{name}}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="css/mainstyle.css">
<link rel="shortcut icon" href="img/LogoWeb.png">
<link rel="stylesheet" type="text/css" href="css/mainstyle.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/moment-with-locales.min.js"></script>
<script src="js/calendar.js"></script>
<script src="js/catalog.js"></script>
<script src="js/booking.js"></script>
<script src="js/adminbut.js"></script>
{%endblock%}

{% block body %}


<div class="header">
    <button class="adminbut">
        <img class="LogoImg" src="img/MainLogo2.png"> 
    </button>
    <div class="linename">
        <p class="name">{{name}}</p>
        <!-- <p class="name">ТВО<span class="decor-1">Р</span>ЧЕСКИЙ Ц<span class="decor-2">Е</span>Х</p> -->
    </div>

<!-- <?php
    if(isset($date['set_lang'])){
        $user->language=$data['language'];
        R::store($user);
        header("Refresh: 0")
    }
> -->
<!-- TODO: Сделать вывод мероприятий -->

    <div class="linename">
        <select name="languages">
            <option value=""></option>
            <option value="ru-ru">Русский</option>
            <option value="en-us">English</option>
        </select>
        <button type="submit" name="set_lang"> Сохранить </button>      
    </div>
    


</div>
<div class="top_bar none" id="top_bar">
    <div class="selectedimg">
        <img alt="" class="selectedimg" id="room_image">
    </div>
    <div class="selectedroom">
        <p class="auditselect" id="room_name"></p>
        <p class="steetselect" id="room_address"></p>
    </div>
    <div class="paramselectroom" id="room_description"></div>
</div>
<div class="content">
    <div class="hellomess">
        <div class="messege">{{welcome}}
        </div>
    </div>
    <div id="catalogstr"></div>
    <div class="catalog">
        <div class="addresses">
        </div>
        <div class="rooms">
            <div class="tabcontent">
            </div>
        </div>
        <div class="worktimeroom">
            <div class="calendar">
                <div class="legend">
                    <div class="occupied">
                        <div class="blockoccupied">
                        </div>
                        <p class="legendoccupied">{{calendar_legend}}</p>
                    </div>
                </div>
                <div id="calendar_insertion"></div>
            </div>
            <div class="calendarev-events-container"></div>
        </div>
    </div>
    <div id="book" class="buttons">
        <button class="order">
            <div class="linebut">
                <!-- <p class="namebut">ЗАБР<span class="decor-4">О</span>НИРОВАТЬ</p> -->
                <p class="namebut">{{btn_booking}}</p>

            </div>
        </button>
    </div>
</div>
<div id="booking" class="none">
    <form id="application_form" method="post" onsubmit="event.preventDefault()">
        <img id="close" src="img/NoBut.png">
        <div class="nameform">{{form}}</div>
        <div name="booking_date" class="dateform"></div>
        <div class="timeform">
            {{from}}
            <select id="timebegin" class="timebegin" name="booking_start">
               
            </select>
            {{to}}
            <select id="timeend" class="timeend" name="booking_end">
                
            </select>
        </div>
        <div class="groupformstep">
            <div class="formstep">
                {{fio}}<input name="fullname"pattern="^[а-яА-ЯёЁa-zA-Z ]+$" required>
            </div>
            <div class="formstep">
                {{age}}<input name="age" pattern="^\d+$" required>
            </div>
            <div class="formstep">
                {{institute}}
                <select name="institute" required>

                    <option value="" disabled selected>
                            {{institute_select}}</option>
                    <option>{{institute_other}}</option>
                    <option>{{institute_maritame_college}}</option>
                    <option>{{institute_postraduare}}</option>
                    <option>{{institute_iit}}</option>
                    <option>{{institute_ilep}}</option>
                    <option>{{institute_yi}}</option>
                    <option>{{institute_mi}}</option>
                    <option>{{institute_irits}}</option>
                    <option>{{institute_ifenu}}</option>
                    <option>{{institute_pi}}</option>
                    <option>{{institute_ionmo}}</option>
                    <option>{{institute_gpi}}</option>
                    <option>{{institute_ifmc}}</option>
                    <option>{{institute_irg}}</option>
                    <option>{{institute_ipi}}</option>
                    
                </select>
            </div>
            <div class="formstep">
                {{course}}<select name="course" required>
                    <option value="" disabled selected>{{course_select}}</option>
                    <option value="0">{{course_other}}</option>
                    <option value="1">{{course_1}}</option>
                    <option value="2">{{course_2}}</option>
                    <option value="3">{{course_3}}</option>
                    <option value="4">{{course_4}}</option>
                    <option value="5">{{course_1_mage}}</option>
                    <option value="6">{{course_2_mage}}</option>
                </select>
            </div>
            <div class="formstep">
                {{phone}}<input name="phone" pattern="((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,20}" required>
            </div>
            <div class="formstep">
                {{contacts}}<input name="social_network" required>
            </div>
        </div>
        <button class="orderform">
            <div class="linebut">
                <!-- <div class="namebut">ЗАБР<span class="decor-5">О</span>НИРОВАТЬ</div> -->
                <div class="namebut">{{btn_booking}}</div>
            </div>
        </button>
    </form>
</div>
<div class="footer">
    <div class="container">
        <div class="contactinfo">
           {{contact_information}}
            <div class="contact">
                <b>{{support_service}}: </b>+7 (978) 888-88-88
                <br>
                <b>E-mail: </b>TvorcheskiCheh@mail.ru
            </div>
        </div>
    </div>
</div>
{% endblock %}
